[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pc/Desktop/iTunes.lnk]
row=8
col=0

[/home/pc/Desktop/log_archive_2024-08-20_133034.tgz]
row=0
col=1

[/home/pc/Desktop/Rockstar Games Launcher.lnk]
row=6
col=0

[/home/pc/Desktop/steam.desktop]
row=5
col=0

[/home/pc/Desktop/iTunes.desktop]
row=7
col=0

[/home/pc/Desktop/brave-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=4
col=0

[3df979da-d000-4a85-b746-035724ec703d]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/pc]
row=3
col=0

