[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pc/Desktop/steam.desktop]
row=5
col=0

[/home/pc/Desktop/brave-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=4
col=0

[0efb2130-bf6b-458c-8708-f499ea73b518]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/pc]
row=3
col=0

